* {
    margin: 0;
}
body {
    background-color: #1B1464;
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.main {
    background: url("../img/fundo.jpg");
    background-size: cover;
    min-height: 100vh;
}
.login-body {
    align-items: center;
    display: grid;
    justify-content: center;
    min-height: 100vh;
}

.login-body__form {
    background-color: #1B1464;
    box-sizing: border-box;
    margin-top: 62px;
    max-width: 420px;
    min-width: 420px;
    padding: 48px 62px;
}

.login-body h1 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;
    text-align: center;
}

.login-body__input input {
    background: #ddd;
    border: 0;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    outline: none;
    padding: 16px 20px;
    width: 90%;
}

.mb-16 {
    margin-bottom: 16px;
}

.login-body__submit-btn {
    background: #ddd;
    border: 0;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    margin-top: 32px;
    outline: none;
    padding: 16px;
    width: 100%;
    
}

.login-body__submit-btn:hover {
    cursor: pointer;
}

.login-body__options {
    color: #b3b3b3;
    display: grid;
    font-size: 13px;
    font-weight: 500;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 48px;
    margin-top: 12px;
}

.login-body__options:hover {
    cursor: pointer;
}

.login-body__need-help {
    text-align: right;
}

.login-body__fb {
    align-items: center;
    color: #b3b3b3;
    display: grid;
    font-size: 13px;
    grid-template-columns: min-content auto;
}

.login-body__fb:hover {
    cursor: pointer;
}

.login-body__fb img {
    height: 20px;
    margin-right: 12px;
    width: 20px;
}

.login-body__new-to-nl {
    color:#b3b3b3;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
}

.login-body__sign-up {
    color: #fff;
}

.login-body__sign-up:hover {
    cursor: pointer;
}

.login-body__google_captcha {
    color: #8c8c8c;
    font-size: 13px;
    margin-top: 16px;
}

.login-body__learn-more {
    color: #0071eb;
}

.login-body__learn-more:hover {
    cursor: pointer;
}

.mgr-8 {
    margin-right: 8px;
}


/* footer */

footer {
    text-align: center;
    padding: 25px 0 5px 0;
    background-color: #434343;
    color: white;
    font-size: 11px;
    bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
/* rede social */

.social-link {
    text-align: center;
    background-color: #434343;
    color: white;
    font-size: 20px;
    padding-bottom: 10px;
}

/* .social-link img {
    width: 50px;
} */
.social-link i {
    width: 40px;
    color: white;
    transition: ease-out 0.4s;

}
.social-link i:hover {
    width: 40px;
    color: rgb(0, 102, 255);
    transition: 0.3s;
    transform: scale(2);
    
}